extends base

block content
  .qa-wrapper
    .qa-card
      h2.heading-secondary.ma-bt-md Questions and Answers Registration
      form(action="/upload" method="POST" enctype="multipart/form-data" class="qa-form")
        label.file-label(for="qaFile")
          i(class="fa fa-cloud-upload") 
          |  Choose Your File
        input#qaFile(type="file" name="qaFile" accept=".csv,.xlsx,.json" required)
        button.btn.btn--small.btn--green(type="submit" class="upload-btn")
          i(class="fa fa-upload") 
          |  Upload

    // Right: View Existing Q&A Section
    .qa-card
      h2.heading-secondary.ma-bt-md Already Exist Questions & Answers
      p Easily view all uploaded questions and answers in one place.
      a.btn.btn--small.btn--green(href="/report" class="upload-btn")
        i(class="fa fa-list-alt")
        |  View Report