extends base

block content 
  .form-container-qa
    .form-header-qa
      h2 Question & Answer Registration
    .form-wrapper-qa
      .form-section-qa
        h3.section-title-qa Question
        form
          .form-group-qa
            label(for="question-id") Define Question
            input#question-id.form__input__qa(type="text")
          
          .form-group-qa
            label(for="question-type") Type
            select#question-type.form__input__qa
              option(value="") Select Type
              option(value="academic") Academic
              option(value="subjective") Subjective
              option(value="short") Short

          .form-group-qa
            label(for="question-status") Status
            select#question-status.form__input__qa
              option(value="") Select Status
              option(value="pending") Pending
              option(value="in-progress") In Progress
              option(value="solved") Solved

          .form-group-qa
            label(for="question-text") Remarks
            textarea#question-text(rows="8" placeholder="Add remarks or notes about the question...")
            //- .button-group
            //-   a.apibtn.btn-update(href="#")
            //-     i.fas.fa-edit
            //-     | Update  
            //-   a.apibtn.btn-delete(href="#")
            //-     i.fas.fa-trash-alt
            //-     | Delete
      
      .form-section-qa
        h3.section-title-qa Answer
        form
          .form-group-qa
            label(for="answer-id") Define Answer
            input#answer-id.form__input__qa(type="text")
            
          .form-group-qa
            label(for="answer-type") Type
            select#answer-type.form__input__qa
              option(value="") Select Type
              option(value="short") Short
              option(value="detailed") Detailed
              option(value="one-line") One Line

          .form-group-qa
            label(for="answer-options") Options
            select#answer-options.form__input__qa
              option(value="") Select Option
              option(value="A") A
              option(value="B") B
              option(value="C") C
            
          .form-group-qa
            label(for="answer-remarks") Remarks
            textarea#answer-remarks(rows="8" placeholder="Add remarks or notes about the answer...")
            //- .button-group
            //-   a.apibtn.btn-update(href="#")
            //-     i.fas.fa-edit
            //-     | Update  
            //-   a.apibtn.btn-delete(href="#")
            //-     i.fas.fa-trash-alt
            //-     | Delete

    .form-actions-qa
      //- a.btn.btn-report-qa(href='/quesreport')
      //-   i.fa-solid.fa-arrow-down
      //-   | Get Question Report
      //- a.btn.btn-report-qa(href='/ansreport')
      //-   i.fa-solid.fa-arrow-down
      //-   | Get Answers Report
      a.btn.btn-cancel-qa(type="button")
        i.fa-solid.fa-arrow-left
        | Cancel  
      a.btn.btn-cancel-qa(type="submit")
        i.fa-solid.fa-plus
        | Create   