extends base

block content
  .report-container
    h2.heading-secondary.ma-bt-md Questions & Answers Report
    table.report-table
        thead
          tr
            th Question
            th Options
            th Correct Answer
        tbody
          each qa in QAS
            tr
              td= qa.question
              td
                ul
                  each opt in qa.options
                    li= opt
              td 
                span.correct-answer= qa.correct
