extends base

block content
  .report-container
    h2.heading-secondary.ma-bt-md Questions & Answers Report
    table.report-table
        thead
          tr
            th Sr. No.
            th Question 
            th Options
            th Correct Answer
        tbody
          each qa, index  in QAS
            tr
              td= index + 1
              td= qa.question
              td
                ul.options-list
                  each opt in qa.options
                    li.options-answers= opt
              td 
                span.correct-answer= qa.correct
