extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Sign Up into your account
            form.form.form--login
                .form__group
                    label.form__label(for='usrid') User id
                    input#usrid.form__input(type='usrid', placeholder='Jaseem Khan', required)
                .form__group
                    label.form__label(for='name') User name
                    input#usrname.form__input(type='name', placeholder='Jaseem Khan', required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='pw') Password
                    input#pw.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Sign Up