extends base

block content
  main.main
    .quiz-header
      h2 Student Quiz
      span.timer ⏱ 00:00

    .quiz-card
      h4.question-count
      p.question-text

      form#quizForm
        .options-group

        .form__group
          button.btn.btn--green(type="submit") Next