extends base

block content
  .report-container
    h2.heading-secondary.ma-bt-md All Users Report
    table.report-table
        thead
          tr
            th Sr. No.
            th User Id  
            th Username 
            th Email
        tbody
          each user, index  in users 
            tr
              td= index + 1
              td= user.user_id
              td= user.username
              td= user.email
