extends base

block content
  .container
    .title Welcome to MindMingle Quiz!
    .subtitle Unleash Your Knowledge! Get Ready to Challenge Your Limits and Discover New Horizons. Let the Quest for Wisdom Begin!
    if !isLoggedIn
      a.start-btn-notlogin(href='#') Start Quiz
    else 
      a.start-btn(href='/quiz') Start Quiz
    if (user && user.role === 'admin')
      a.start-btn(href='/select') Set Question Admin 
      a.start-btn(href='/qaForm') Add Q/A Form
  p.footer__copyright
    | © by 
    a(href='https://linktr.ee/jaseemkhandev' target='_blank') Jaseem Khan
    | . Feel free to use this project for your own purposes, EXCEPT producing your own course or tutorials!
