extends base

block content
  .container
    .title Welcome to MindMingle Quiz!
    .subtitle Unleash Your Knowledge! Get Ready to Challenge Your Limits and Discover New Horizons. Let the Quest for Wisdom Begin!
    button.start-btn(onclick="startQuiz()") Start Quiz
  p.footer__copyright
    | © by 
    a(href='https://linktr.ee/jaseemkhandev' target='_blank') Jaseem Khan
    | . Feel free to use this project for your own purposes, EXCEPT producing your own course or tutorials!
