extends base

block content 
  main.main
    .container
    .title Welcome to MindMingle Quiz!
    .subtitle Unleash Your Knowledge! Get Ready to Challenge Your Limits and Discover New Horizons. Let the Quest for Wisdom Begin!
    if !isLoggedIn
      a.start-btn-notlogin(href='#') Start Quiz
    else 
      a.start-btn(type="button") Start Quiz
    if (user && user.role === 'admin')
      a.start-btn(href='/set') Set Question Admin 
      a.start-btn(href='/qaForm') Add Q/A Form